---
title: "Optimizing Approximate Membership Metadata<br />in Triple Pattern Fragments for Clients and Servers"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
<!-- <%= person 'John Doe', 'http://www.example.org/', 'http://www.example.org/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
 -->
</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div class="double-column">
    
    <%= section 'abstract' %>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction'  %>
  <%= section 'related-work'  %>
  <%= section 'problem-statement'  %>
  <%= section 'solution'  %>
  <%= section 'evaluation'  %>
  <%= section 'conclusions'  %>
  <span class="placeholder printonly">
  <span style="display: block; height: 15em;"></span>
  <!-- This is a dummy placeholder for forcing the references in a separate column -->
  </span>
</main>

<footer></footer>

</div>
